*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9acbe9;
}

h3,
p{
  margin: 0;
}

.wrapper {
  background-color: #f7f8f8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 900px;
  margin: 50px auto;
}

header {
  padding-top: 40px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  padding: 40px 10px;

  p {
    margin: 3px;
    margin-left: 20px;
    padding: 5px;
    position: absolute;
    color: rgb(0, 92, 148);
    background-color: #f7f8f8;
    font-size: 14px;
  }

  .result {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    position: static;
    margin: 0;
    font-size: 18px;
  }
}

.limit,
.num-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;

  .limit-a,
  .limit-b,
  .num,
  .btn {
    width: 49%;
  }
}

.method,
.func {
  text-align: center;
}

input,
select {
  height: 60px;
  width: 100%;
  margin: 18px 0;
  padding-left: 35px;

  font-size: 16px;
  border: 2px solid #e9f2ff;
  border-radius: 10px;
  background-color:#f7f8f8;
  color: #000;
}

button {
  height: 60px;
  width: 100%;
  margin: 15px 0;

  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color:#007bc1;
  color: #fff;
}

input {
  appearance: textfield;
}

select,
button {
  cursor: pointer;
}