body {
  margin: 0;
  font-family: Inter, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9acbe9;
}

h3,
p{
  margin: 0;
}

.wrapper {
  background-color: #f7f8f8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 900px;
  margin: 50px auto;
}

header {
  padding-top: 40px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  padding: 40px;

  p {
    margin: 3px;
    margin-left: -5px;
    padding: 5px;
    position: absolute;
    color: rgb(0, 92, 148);
    background-color: #f7f8f8;
    font-size: 14px;
  }

  .limit,
  .num-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    .limit-a,
    .limit-b,
    .num{
      width: 43%;
    }
  }

  .result {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    position: static;
    margin: 0;
    font-size: 18px;
  }
}

input,
select {
  height: 60px;
  width: 100%;
  font-size: 16px;
  padding-left: 35px;
  margin: 15px 0;
  margin-left: -20px;

  border: 2px solid #e9f2ff;
  border-radius: 10px;
  background-color:#f7f8f8;
  color: #000;
}

select {
  width: 110%;
  cursor: pointer;
}

input {
  appearance: textfield;
}

.btn {
  width: 52.5%;
}

button {
  height: 64px;
  width: 100%;
  font-size: 20px;
  margin: 15px 20px;

  border: none;
  border-radius: 10px;
  background-color:#007bc1;
  color: #fff;

  cursor: pointer;
}

option:checked {
  background-color: #9acbe9;
}